{% extends 'base.html.twig' %} {% block body %}
{% for flashMessage in app.session.flashbag.get('mensaje') %}
<span class="alert-success">
	{{ flashMessage }}
	<hr/>
</span>
{% endfor %}
<style>
body {
	margin: 0%;
}

.form-group {
	margin-top: 12px;
}

.panel-heading {
	text-align: center;
	font-size: 40px;
}

.panel {
	margin: 3%;
}
</style>
{% for flashMessage in app.session.flashbag.get('mensaje') %}
<span class="alert-success"> {{ flashMessage }}
	<hr />
</span>
{% endfor %}
<div class="panel panel-default">
	<div class="panel-heading">Empleado</div>
	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{{ path('Empleado') }}">Lista</a></li>
		<li role="presentation" class="active"><a href="#">Crear</a></li>
		<li role="presentation"><a href="{{ path('retrieveEmpleado') }}">Consultar</a></li>
		<li role="presentation"><a href="">Actualizar</a></li>
	</ul>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label for="tipoDocumentoLabel" class="col-sm-3 control-label">Tipo
					Documento</label>
				<div class="col-sm-2">
					<select class="form-control" id="tipoDocumento"
						name="tipoDocumento">
						<option>CC</option>
						<option>PA</option>
						<option>CE</option>
						<option>TI</option>
					</select>
				</div>
				<label for="numeroDocumentoLabel" class="col-sm-3 control-label">Numero
					de Documento</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="numeroDocumento"
						name="numeroDocumento" placeholder="Numero de documento">
				</div>
			</div>
			<div class="form-group">
				<label for="primerNombreLabel" class="col-sm-3 control-label">Primer
					nombre</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="primerNombre"
						name="primerNombre" placeholder="Primer nombre">
				</div>
				<label for="segundoNombreLabel" class="col-sm-3 control-label">Segundo
					nombre</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="segundoNombre"
						name="segundoNombre" placeholder="Segundo nombre">
				</div>
			</div>
			<div class="form-group">
				<label for="primerApellidoLabel" class="col-sm-3 control-label">Primer
					apellido</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="primerApellido"
						name="primerApellido" placeholder="Primer apellido">
				</div>
				<label for="segundoApellidoLabel" class="col-sm-3 control-label">Segundo
					apellido</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="segundoApellido"
						name="segundoApellido" placeholder="Segundo apellido">
				</div>
			</div>
			<div class="form-group">
				<label for="generoLabel" class="col-sm-3 control-label">Genero</label>
				<div class="col-sm-2">
					<select class="form-control" id="genero" name="genero">
						<option selected="selected">M</option>
						<option>F</option>
					</select>
				</div>
				<label for="fecha" class="col-sm-3 control-label">Fecha de Nacimiento</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
				</div>
			</div>
			<div class="form-group">
				<label for="areaLabel" class="col-sm-3 control-label">Area</label>
				<div class="col-sm-2">
					<select class="form-control" id="area"
						name="area">
						{% for area in areas %}
							<option>{{ area.nombre }}</option>
						{% endfor %}
					</select>
				</div>
				<label for="cargoLabel" class="col-sm-3 control-label">Cargo</label>
				<div class="col-sm-2">
					<select class="form-control" id="cargo"
						name="cargo">
						{% for cargo in cargos %}
							<option>{{ cargo.nombre }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="fechaIngresoLabel" class="col-sm-3 control-label">Fecha ingreso</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso">
				</div>
				<label for="estadoCivilLabel" class="col-sm-3 control-label">Estado civil</label>
				<div class="col-sm-2">
					<select class="form-control" id="estadoCivil"
						name="estadoCivil">
						<option>Soltero/a</option>
						<option>Casado/a</option>
						<option>Divorciado/a</option>
						<option>Viudo/a</option>
						<option>Union Libre</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="direccionLabel" class="col-sm-3 control-label">Direccion</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="direccion"
						name="direccion" placeholder="Direccion">
				</div>
				<label for="barrioLabel" class="col-sm-3 control-label">Barrio</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="barrio"
						name="barrio" placeholder="Barrio">
				</div>
			</div>
			<div class="form-group">
				<label for="estratoLabel" class="col-sm-3 control-label">Estrato</label>
				<div class="col-sm-2">
					<input type="number" class="form-control" id="estrato"
						name="estrato" placeholder="Estrato">
				</div>
				<label for="telefonoLabel" class="col-sm-3 control-label">Telefono</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="telefono"
						name="telefono" placeholder="Telefono">
				</div>
			</div>
			<div class="form-group">
				<label for="celularLabel" class="col-sm-3 control-label">Celular</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="celular"
						name="celular" placeholder="Celular">
				</div>
				<label for="telefonoLabel" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-2">
					<input type="email" class="form-control" id="email"
						name="email" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="direccionLabel" class="col-sm-3 control-label">Direccion</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="direccion"
						name="direccion" placeholder="Direccion">
				</div>
				<label for="barrioLabel" class="col-sm-3 control-label">Barrio</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="direccion"
						name="barrio" placeholder="barrio">
				</div>
			</div>
			<div class="form-group">
				<label for="tipoContratoLabel" class="col-sm-3 control-label">Tipo Contrato</label>
				<div class="col-sm-2">
					<select class="form-control" id="tipoContrato"
						name="tipoContrato">
						<option>Indefinido</option>
						<option>Prestacion de servicios</option>
						<option>Termino Fijo</option>
					</select>
				</div>
				<label for="epsLabel" class="col-sm-3 control-label">Eps</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="eps"
						name="eps" placeholder="Eps">
				</div>
			</div>
			<div class="form-group">
				<label for="fondoPensionesLabel" class="col-sm-3 control-label">Fondo de Pensiones</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="fondoPensiones"
						name="fondoPensiones" placeholder="Fondo de Pensiones">
				</div>
				<label for="fondoCesantiasLabel" class="col-sm-3 control-label">Fondo de Cesantias</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" id="fondoCesantias"
						name="fondoCesantias" placeholder="Fondo de Cesantias">
				</div>
			</div>
			<div class="form-group">
				<label for="tipoViviendaLabel" class="col-sm-3 control-label">Tipo de Vivienda</label>
				<div class="col-sm-2">
					<select class="form-control" id="tipoVivienda"
						name="tipoVivienda">
						<option>Casa Propia</option>
						<option>Casa en Arriendo</option>
						<option>Apartamento Propia</option>
						<option>Apartamento en Arriendo</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-6 col-sm-4">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
